@page "{Id=0}"
@using System.Security.Claims;
@using LSSD.StoreFront.DB;
@using LSSD.StoreFront.Lib;
@model LSSDStoreFront_FrontEnd.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}


@section SideBar{

    <!--Start sidebar-->
    <div class="row">
        <div class="col-2 collapse d-md-flex bg-light pt-2 min-vh-100" id="sidebar">
            @*
                Pt-2: spacing
                col-2: read more here https://getbootstrap.com/docs/4.1/layout/grid/
                d-md-flex: flex - https://getbootstrap.com/docs/4.1/utilities/flex/

            *@

            <ul class="nav flex-column flex-nowrap sticky-top">

                @foreach (Lib.ProductCategory topLevelCategory in Model.Inventory.TopLevelCategories)
                {
                    <li class="nav-item"><a class="nav-link" href="/Categories/@topLevelCategory.Id">@topLevelCategory.Name</a></li>

                    if (topLevelCategory.HasChildren)
                    {
                        <ul class="flex-column nav pl-4">
                            @foreach (Lib.ProductCategory secondLevelCategory in topLevelCategory.ChildCategories)
                            {
                                <li class="nav-item">
                                    <a class="nav-link p-0" href="/Categories/@secondLevelCategory.Id">
                                        <i class="fa fa-fw fa-clock-o"></i> @secondLevelCategory.Name
                                    </a>
                                </li>

                            }
                        </ul>
                    }
                }
            </ul>

        </div>
        <!--End Sidebar-->
}




<h1>Categories - Category Name</h1>


@{
    string categoryIdString = RouteData.Values["Id"].ToString();
    int categoryID = categoryIdString.ToInt();

    var category = Model.Inventory.ItemsFromCategory(categoryID);

}

@if (Model.Inventory.Items.Count > 0)
{
    <div class="card-deck">

        @foreach (Lib.Product product in Model.Inventory.ItemsFromCategory(categoryID))
        {
            <div class="card bg-light" style="width: 18rem; flex: 20%; margin-bottom:20px;">
                <div class="card-body">
                    <h5 class="card-title"><a href="/Items/@product.Id">@product.Name</a></h5>
                    <p class="card-text">@product.Description</p>
                    <p>$@product.Price</p>
                    <a href="/Items/@product.Id" class="btn btn-info" style="margin-bottom:4px;">Details</a>
                </div>
            </div>


        }
    </div>
}
