@page  "{category?}/{item?}"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <!--<h1 class="display-4"><i class="fas fa-store"></i> <i class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-shipping-fast"></i> <i class="fas fa-long-arrow-alt-right"></i> <i class="fas fa-school"></i></h1>-->
    <h1 class="display-4">
        <i class="fas fa-shipping-fast"></i></h4>
        <hr class="my-4">
        <p>Choose a category below to start viewing products.</p>
        <small><i>If you need to order something that is missing, please put a <a href="https://helpdesk.lskysd.ca">help desk ticket</a> in using the purchasing catgory instead.</i></small>
        <hr class="my-4">



        <div class="Categories">
            @foreach (Lib.ProductCategory topLevelCategory in Model.Inventory.TopLevelCategories)
            {
                <a class="btn btn-outline-primary" href="/Category/@topLevelCategory.Id" style="margin-bottom:10px;">

                    @topLevelCategory.Name
                </a>
                <br />
                if (topLevelCategory.HasChildren)
                {
                    @foreach (Lib.ProductCategory secondLevelCategory in topLevelCategory.ChildCategories)
                    {
                        <a class=" btn btn-outline-dark" href="/Category/@secondLevelCategory.Id">
                            @secondLevelCategory.Name
                        </a>
                        <br />
                    }
                }
            }
        </div>


</div>