@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div style="width: 500px; margin: 0 auto;">
        <h1 class="text-danger">Access denied</h1>
        <p class="text-danger">Sorry, you don't have access to this site.</p>
        <p class="text-danger">If you believe this is an error, please <a href="https://helpdesk.lskysd.ca">create a help desk ticket</a>, and we will investigate.</p>
    </div>    
</header>
